img{
    max-width: 100%;
    height: auto;
}

.container{
    margin: auto;
}

section{
    width: 100%;
}
#gallery div{
    border-style: solid;
    border-radius: 17px;
    border-color: lightsteelblue;
    text-align: center;
    margin: 0.2em;
}
.gallery div{
    display: inline-block;
    text-align: center;
    width: 20%;
    border-style: solid;
    border-radius: 17px;
    border-color: lightsteelblue;
}

.gallery table{
    border-style: solid;
    border-radius: 17px;
    border-color: lightsteelblue;
    margin: 0.1em;
}

#aboutus{
    padding: 2em; 
    background-color: rgba(192, 215, 235, 0.438);
}

#aboutus section{
    margin: 0;
}

#aboutus div {
    display: inline-block;
    text-align: center;
    margin: 0.3em;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
}

#aboutus img{
    width: 8em;
    height: auto;
}

.first div{
    width: 50vh;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    padding: 0.3em;
}

.second div{
    width: 50vh;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    padding: 0.3em;
}

.third div{
    width: 50vh;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    padding: 0.3em;
}

.fourth div{
    width: 50vh;
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    padding: 0.3em;
}