footer {
    z-index: 50;
    display: block;
    position: fixed;
    bottom: 0em;
    width: 100%;
    height: 4vh;
    text-align: center;
    background-color: cadetblue;
    color: rgb(255,255,255);
}