body {
    background: linear-gradient(#FFEFBA, #FFFFFF);
}

img {
    max-width: 100%;
}

h3 {
    color: rgb(212, 129, 110);
}

#gallery div {
    width: 100%;
    height: auto;
}

.list li{
    display: inline;
}

.list img {
    width: 10%;
    margin: 1%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

#newestinfo div {
    height: auto;
    text-align: center;
    margin: 2%;
}

#newestinfo div li {
    list-style: none;
}

#services div {
    text-align: center;
    margin: 2%;
}

#aboutus div {
    text-align: center;
    margin: 2%;
}

#aboutus p {
    margin: 1.5em 4.5em 1.5em 4.5em;
}