body{
    background: linear-gradient(#d9a7c7, #fffcdc);
}
img{
    max-width: 100%;
}

#gallery div {
    width: 100%;
    height: auto;
    margin: 1em;
}

#newestinfo div {
    height: auto;
    width: 100%;
    border-color: lightsteelblue;
    border-style: solid;
    text-align: center;
    margin: 0.3em;
}

#newestinfo div li {
    list-style: none;
}

#services div {
    text-align: center;
    width:100%;
    border-color: lightsteelblue;
    border-style: solid;
    margin: 0.3em;
}

#aboutus div{
    width:100%;
    border-color: lightsteelblue;
    border-style: solid;
    text-align: center;
    margin: 0.3em;
}

#aboutus p{
    margin:1.5em 4.5em 1.5em 4.5em;
}

