.navbar {
    height: fit-content;
    background-color: #F5C3BA;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    font-family: 微軟正黑體;
    font-size: 0.8em;
}

ul li {
    position: relative;
    white-space: nowrap;
}

ul>li:last-child {
    border-right: none;
}

ul>li {
    float: left;
    margin-right: 0.1em;
}

ul a {
    background-color: #F5C3BA;
    line-height: 5em;
    height: 5em;
    color: rgb(255,255,255);
    display: block;
    padding: 0 3vh;
    border-radius: 17%;
    -webkit-border-radius: 17%;
    -moz-border-radius: 17%;
    -ms-border-radius: 17%;
    -o-border-radius: 17%;
}

ul a:hover {
    background-color: #E0ABA3;
    color: #fff;
    text-decoration: none;
}

ul li:hover>a {
    background-color: #E0ABA3;
    color:rgb(255,255,255);
}