img {
    max-width: 100%;
}

#services {
    width: 100%;
    align-items: center;
}

#services div {
    display: inline-block;
    background-size: 100%;
    width: 20%;
    height: 100%;
}

#services div div {
    width: 80%;
    height: auto;
    background-color: ghostwhite;
    opacity: 80%;
    margin: 25em 1.5em 5em 1.5em;
    border-radius: 17%;
    -webkit-border-radius: 17%;
    -moz-border-radius: 17%;
}

#services p {
    text-align: center;
    padding: 1em;
}

.first {
    background: url(../img/9.png) no-repeat;
}

.second {
    background: url(../img/9.png) no-repeat;
}

.third {
    background: url(../img/9.png) no-repeat;
}

.fourth {
    background: url(../img/9.png) no-repeat;
}

#aboutus p {
    margin: 1.5em 4.5em 1.5em 4.5em;
}

.title {
    height: 2em;
    text-align: center;
    border-style: solid;
    border-radius: 17px;
    border-color: lightsteelblue;
    margin: 0.5em;
}