body {
    background: linear-gradient(#FFEFBA, #FFFFFF);
}


img {
    max-height: 100%;
}

#service {
    position: relative;
    margin-top: 7em;
}

#services {
    width: 100%;
    height: auto;
    margin-left: 2%;
}

#services div {
    display: inline-block;
    position: relative;
    margin-top: 1%;
    background-size: 100%;
    width: 24%;
    height: 640px;
    padding-bottom: 1%;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}

#services div div {
    width: 80%;
    height: 20%;
    background-color: ghostwhite;
    opacity: 80%;
    margin: 95% 10% 0 10%;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}

#services p {
    text-align: center;
    padding: 1em;
    color: rgb(66, 132, 134);
}

.first {
    background: url(../img/juan\ services.jpg) no-repeat;
}

.second {
    background: url(../img/jiang\ lang\ services.jpg) no-repeat;
}

.third {
    background: url(../img/jiyiaou\ services.JPG) no-repeat;
}

.fourth {
    background: url(../img/Chilumu\ services.jpg) no-repeat;
}

#aboutus p {
    margin: 1.5em 4.5em 1.5em 4.5em;
}

.title {
    height: 2em;
    text-align: center;
    margin-bottom: 2%;
    color: cadetblue;
}